  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      {{!-- <a class="navbar-brand js-scroll-trigger" href="#page-top">LevelUp Scraper</a> --}}
      <a class="logo" href="#page-top"><img src="http://aurora.ekof.bg.ac.rs/~s160629/images/twitter.jpg" style="height: 60px" alt=""></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/saved">Saved</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/delete">Delete Data</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>